body {
	font-size: 17px;
	padding:0;
	margin:0;
	font-family: arial;
}

.header {
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	margin:0;
	padding:0;
	position: fixed;
	top:0;
	height:100px;
	float: left;
	z-index: 10;
	background-color: white;
}

.wrapper {
	max-width: 960px;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	line-height: 1.5em;
}

.wrapper h2 {
	width: 90%;
	background-color: rgba(255, 255, 0, 0.6);
	margin: 0 5% 20px 5%;
	padding: 10px;
	float: left;
	font-size: 23px;
}

.wrapper h1 {
	margin:0;
	padding:10px 0;
}

#nav {
	float: right;
	padding:0;
	margin:0;
}

#nav li {
	display: inline;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin: 0 10px;
	color: rgb(0, 0, 153);
	box-shadow: 1px 2px 2px #CCCCCC;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.mid {
	position:relative;
	padding-top: 100px;
}

.third {
	width:23.33%;
	padding:30px 5% 30px 5%;
	float:left;
	text-align: center;
	/*background-color: red;*/
}

.two-third {
	width:56.66%;
	padding:30px 5% 30px 5%;
	float:left;
}

.clear {
	clear:both;
}

.anchor {
	height:100px;
	width:100%;
	float:left;
	clear:both;
}

.header-img {

}

.whole {
	width:95%;
	padding:30px 2.5% 30px 2.5%;
	float:left;
}

body {
	overflow-x:hidden;
}

.anchor-top {
margin-top:25px !important;
}

.wrapper p {
	padding:0;
	margin-top:0;
}

.full-width {
	width:90% !important;
}

.wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center; 
}

.wrapper li {
	padding:5px 0;
	font-style: italic;
}