body {
	font-size: 17px;
	padding:0;
	margin:0;
	font-family: arial;
	background-color: #EBEBEB;
	overflow-x:hidden;
}

/* header styling */

header {
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	margin:0;
	padding:0;
	position: fixed;
	top:0;
	height:100px;
	float: left;
	z-index: 10;
	background-color: white;
	box-shadow: 0px 2px 10px #D8ADFF;
}

header a:visited {
	text-decoration: none;
	color:blue;
}

header span {
	position:absolute;
	padding:15px 2.5%;
	top:40px;
}


header h1 {
	position:absolute;
	margin:0;
	padding:15px 2.5%;
	font-family: 'bodoni';
}

#header_img {
	width:100%;
	height:200px;
	float:left;
	background-image: url('imgs/purplegirl2.jpg');
	background-position:center; 
}

/* wrapper styling */

.wrapper {
	max-width: 960px;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	line-height: 1.5em;
	background-color: white;
}

.wrapper h2 {
	width: 86%;
	background-color: rgba(131, 131, 131, 0.6);
	margin: 0 0% 20px 10%;
	padding: 60px 0 15px 4%;
	/*height:100px;*/
	float: left;
	font-size: 32;
	/*text-align: center;*/
}

.wrapper h3 {
	width: 66%;
	border-bottom: 1px solid #CCCCCC;
	font-size: 23px;
	margin: 0;
}

#about_me {
	background-image: url('imgs/about_me_ing.jpg');
	background-position:center; 
	color:white;
	/*opacity: .75;*/
	/*height:100px;*/
}

/* nav styling */

#nav {
	position:absolute;
	top:50px;
	right:0;
	padding:0;
	margin: 0;
	z-index:10;
}

#nav li {
	display: inline;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin: 0 10px;
	color: rgb(0, 0, 153);
	box-shadow: 1px 2px 2px #D8ADFF;
}

#nav li:hover {
	background-color: #CCCCCC;
}


.icon {
	width:48px;
	margin:10px;
}


#page {
	position:relative;
	padding-top: 100px;
	box-shadow: -3px 3px 3px #D8ADFF;
	overflow-x:hidden;
}



#links_container {
	float:left;
	width:64%;
	margin:0 18%;
	clear:both;
	padding:30px 0;
}

#links_container a {
	float:left;
	width:33%;
	text-decoration: none;
	text-align: center;
	border-radius: 50px;
	color:black;
}

#links_container a:visited {
	color: black;
}

#links_container a:hover {
	background-color:  rgba(235, 255, 0, 0.17);
}

#links_container a > p {
	padding:0 0 0 0;
	margin:0;
	font-size: 13px;
	font-family: 'futura';
}

#skills_container {
	width: 80%;
	padding: 20px 10%;
	background-color: #FFD2D2;
	float: left;
	clear: both;
	font-weight: bold;
	margin: 40px 0;
}

#skills_container ul {
	width:25%;
	float:left;
}

#skills_container li {
	padding:15px 0;
}

#skills_container label {
	width:100%;
	float: left;
	clear: both;
}

.text-container {
	width:66%;
	margin:20px 24% 20px 10%;
	float:left;
}

.half p {

}

/*
.topic-label {
	padding:15px 10px;
	color:white;
	border-radius: 8px;
	background-color: #D8ADFF;
	margin-left:10%;
}
*/


.short {
	border-radius: 5px;
	background-color: white;
	border: 1px solid #CCCCCC;
	right:70px !important;
}

.short li {
	display: block !important;
	background-color: transparent !important;
	border-bottom: 1px solid #CCCCCC !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 0 !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}


.third {
	width:23.33%;
	padding:30px 5% 30px 5%;
	float:left;
	/*background-color: red;*/
}

.two-third {
	width:56.66%;
	padding:30px 5% 30px 5%;
	float:left;
}

.clear {
	clear:both;
}

.anchor {
	height:100px;
	width:100%;
	float:left;
	clear:both;
}

/*.whole {
	width:90%;
	padding:30px 5% 0 5%;
	float:left;
}

.whole p {
	margin-top: 20px !important;
}
*/

.anchor-top {
	margin-top:25px !important;
}

.wrapper p {
	padding:0;
	margin-top:0;
}

.full-width {
	width:90% !important;
	text-align: center;
}

.wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.third li {
	padding:5px 0 5px 15px;
	font-style: italic;
}

.wrapper label {
	font-size: 14px;
}

.center {
	text-align: center;
}

.shadow {

}

.footer {
	position: relative;
	height:200px;
}

.hidden {
	display:none;
}

#menu {
	opacity: .4;
	position:absolute;
	right:2.5%;
	top:50px;
	/*margin: 50px 2.5% 0 2.5%;*/
	padding:5px;
	border:1px solid #363636;
	border-radius: 5px;
}

.project-img {
	width:80%;
	margin: 0 10% 40px 10%;
	border:1px solid #CCCCCC;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #CCCCCC;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 0 5% 50px 5%;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 720px) {
	#header_img {
		background-size: 720px 180px;
		height:180px;
	}
}


/* utility classes */

.fleft {
	float: left;
}

.fright {
	float: right;
}