body {
	font-size: 17px;
	padding:0;
	margin:0;
	font-family: arial;
	background-color: #EBEBEB;
	overflow-x:hidden;
}

.header {
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	margin:0;
	padding:0;
	position: fixed;
	top:0;
	height:100px;
	float: left;
	z-index: 10;
	background-color: white;
}

.wrapper {
	max-width: 960px;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	line-height: 1.5em;
	background-color: white;
}

.wrapper h2 {
	width: 86%;
	background-color: rgba(255, 255, 0, 0.6);
	margin: 0 5% 20px 5%;
	padding: 10px 2%;
	float: left;
	font-size: 23px;
	text-align: center;
}

.wrapper h3 {
	width: 66%;
	border-bottom: 1px solid #CCCCCC;
	font-size: 23px;
	margin: 0;
}

.wrapper h1 {
	margin:0;
	padding:15px 2.5%;
	font-family: 'bodoni';
}


.wrapper span {
	padding:15px 2.5%;
}

#nav {
	float: right;
	padding:0;
	margin:40px 0 0 0;
}

#nav li {
	display: inline;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin: 0 10px;
	color: rgb(0, 0, 153);
	box-shadow: 1px 2px 2px #CCCCCC;
}

#nav li:hover {
	background-color: #CCCCCC;
}


.short {
	border-radius: 5px;
	background-color: white;
	border: 1px solid #CCCCCC;


}

.short li {
	display: block !important;
	background-color: transparent !important;
	border-bottom: 1px solid #CCCCCC !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 0 !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.mid {
	position:relative;
	padding-top: 100px;
}

.third {
	width:23.33%;
	padding:30px 5% 30px 5%;
	float:left;
	/*background-color: red;*/
}

.two-third {
	width:56.66%;
	padding:30px 5% 30px 5%;
	float:left;
}

.clear {
	clear:both;
}

.anchor {
	height:100px;
	width:100%;
	float:left;
	clear:both;
}

.header-img {

}

.whole {
	width:90%;
	padding:30px 5% 0 5%;
	float:left;
}

.whole p {
	margin-top: 20px !important;
}


.anchor-top {
	margin-top:25px !important;
}

.wrapper p {
	padding:0;
	margin-top:0;
}

.full-width {
	width:90% !important;
	text-align: center;
}

.wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.third li {
	padding:5px 0 5px 15px;
	font-style: italic;
}

.wrapper label {
	font-size: 14px;
}

.center {
	text-align: center;
}

.shadow {
	box-shadow: 3px 3px 3px #CCCCCC;
}

.footer {
	position: relative;
	height:200px;
}

.hidden {
	display:none;
}

#menu {
	opacity: .4;
	float:right;
	margin: 40px 2.5% 0 2.5%;
	padding:5px;
	border:1px solid #363636;
	border-radius: 5px;
}

.project-img {
	width:80%;
	margin: 0 10% 40px 10%;
	border:1px solid #CCCCCC;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #CCCCCC;
}